[package]
name = "harana-actions-file"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
walkdir.workspace = true
glob.workspace = true
chrono.workspace = true

[dev-dependencies]
tokio.workspace = true
tempfile.workspace = true
