[package]
name = "harana-actions-webhook"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true
chrono.workspace = true
reqwest.workspace = true
tokio.workspace = true
dashmap.workspace = true
hmac.workspace = true
sha2.workspace = true
hex.workspace = true
lazy_static.workspace = true

[dev-dependencies]
tokio.workspace = true
