[package]
name = "harana-actions-aws-autoscaling"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true

[dev-dependencies]
tokio.workspace = true
